<div class="container" style="margin-top:20px;">
  <table class="table table-bordered">
    <thead class="thead-inverse">
      <tr>
        <th>Upto</th>
        <th>For one week</th>
        <th>For a month</th>
        <th>For 3 months</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">5000</th>
        <td>10%</td>
        <td>9%</td>
        <td>8%</td>
      </tr>
      <tr>
        <th scope="row">15000</th>
        <td>10%</td>
        <td>9%</td>
        <td>8%</td>
      </tr>
      <tr>
        <th scope="row">50000</th>
        <td>10%</td>
        <td>9%</td>
        <td>8%</td>
      </tr>
    </tbody>
  </table>
</div>